<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      @media (min-width: 767px) {
  .navbar-search-form {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    float: none;
    text-align: center;
    padding: 8px 0;
  }
}

.image{
max-height:300px;
width:100%;
}
#my-image-div{
	background-image: url("/media/images.jpg");
	background-size: cover;
	height: 400px;
	width:100%;
}
#my-image-text{
	position: relative;
	top: 50px;
	width: 500px;
}
.imgs {
width:100%;
max-height:400px;
 position:relative;}

h2 {
	top:20px;
	left:30px;
	position:absolute;
	color:blue;
	background-color:red;
	border-radius:10px;
}
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>homepage</title>
  </head>
  <body>
   <nav  class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
     <div class="container">
  <a style="" class="navbar-brand" href="#"><img src="/media/img1.png" height="50px" width="100px"></a>



<!--<div style="padding:left:50%;"><input style="width:50%;" class="form-control navbar-brand mr-sm-2" type="search" placeholder="Search" aria-label="Search"></div>-->


     <form class="navbar-form navbar-search-form active" role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">

      </span>
          </div>
        </div>
      </form>
    <ul class="navbar-nav nav navbar-right">

      <li>
   <button href="#" class="btn btn-round btn-default">Sign in</button>
      </li>

    </ul>

  </div>
     <!--</div>-->
</nav>
<div class="imgs">
<img src="/media/images.jpg" class="responsive-image" width="100%" style="max-height:400px;">
	<h2 class="text-over-img">Share</h2>

</div>
<div class="container">

  <div class="col-12 sticky-top" style="top:10%; width:100%;">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">

  <button  class="navbar-toggler sticky-top" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <div style="top:70px; width:100%;" class="row sticky-top bg-light collapse navbar-collapse" id="navbarSupportedContent1">

<ul class="nav nav-tabs navbar-light bg-light  sticky-ttop:70px; width:100%;op" style="">


  <li class="nav-item">
    <a class="nav-link active" href="#">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>





    <li class="nav-item">
<button style="align:right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
 Sign up
</button>
      </li>
 <li class="nav-item">
&nbsp;&nbsp;&nbsp;
  </li>

     <li class="nav-item">
<button style="align:right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
 Login
</button>


  </li>


</ul>
  <!--</div>-->
   </div>
</div>
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Signup form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
 <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
   <center><button type="submit" class="btn btn-primary">Sign in</button></center>
</form>
          </div>
          <div class="col-4">
            <img src="/media/img5.jpg" height="100%" width="100%" class="responsive-image">
          </div>
      </div>
      </div>



    </div>
  </div>
</div>

    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle2">Signup form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
 <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck2">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
          </div>
          <div class="col-4">
            <img src="/media/img5.jpg" height="100%" width="100%" class="responsive-image">
          </div>
      </div>
      </div>


      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Signup</button>-->
      <!--</div>-->
    </div>
  </div>
</div>


  <div class="row">
    <div class="col">
    <div class="row row-cols-1 row-cols-md-2">
  <div class="row">
    <div class="card">
      <img src="/media/img5.jpg" class="card-img-top img-fluid image" alt="...">
      <div class="card-body">
        <h5 class="card-title">Disaster on earth</h5>
        <p class="card-text">A disaster is a serious disruption occurring over a short or long period of time that causes widespread human, material, economic or environmental loss which exceeds the ability of the affected community or society to cope using its own resources</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <img src="/media/img3.jpg" class="card-img-top img-fluid image" alt="...">
      <div class="card-body">
        <h5 class="card-title">Disaster on earth</h5>
        <p class="card-text">A disaster is a serious disruption occurring over a short or long period of time that causes widespread human, material, economic or environmental loss which exceeds the ability of the affected community or society to cope using its own resources</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card" style="width:100%;">
      <img src="/media/img5.jpg" class="card-img-top img-fluid image" alt="...">
      <div class="card-body">
        <h5 class="card-title">Disaster on earth</h5>
        <p class="card-text">A disaster is a serious disruption occurring over a short or long period of time that causes widespread human, material, economic or environmental loss which exceeds the ability of the affected community or society to cope using its own resources</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <img src="/media/img3.jpg" class="card-img-top img-fluid image" alt="...">
      <div class="card-body">
        <h5 class="card-title">Disaster on earth</h5>
        <p class="card-text">A disaster is a serious disruption occurring over a short or long period of time that causes widespread human, material, economic or environmental loss which exceeds the ability of the affected community or society to cope using its own resources</p>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="col-4 d-none d-sm-block">
      <form class="sticky-top" style="top:150px; width:100%;">
  <div class="form-group">
   &nbsp;&nbsp; <label for="exampleInputEmail1">Enter post</label>
   &nbsp; &nbsp;<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="form-group">
    &nbsp;&nbsp;<label for="exampleInputPassword1">idea</label>
    &nbsp;&nbsp;<input type="text" class="form-control" id="exampleInputPassword1">
  </div>

&nbsp;<i class="fa fa-pencil"></i><span class="d-none d-md-inline">Edit</span>
</form>
    </div>
  </div>

    <button type="button" style="border-radius:20px; position:fixed; top:90%; left:70%;" class="d-block d-sm-none btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
  <i class="fa fa-pencil"></i>
</button>

  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <form style="top:150px; width:100%;">
  <div class="form-group">
   &nbsp;&nbsp; <label for="exampleInputEmail1">Enter post</label>
   &nbsp; &nbsp;<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="form-group">
    &nbsp;&nbsp;<label for="exampleInputPassword1">idea</label>
    &nbsp;&nbsp;<input type="text" class="form-control" id="exampleInputPassword1">
  </div>

&nbsp;<i class="fa fa-pencil"></i><span class="d-none d-md-inline">Edit</span>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    <br><br>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script>
     $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
 </script>
  </body>
</html>